<% if !user_signed_in? %>
  <div class="jumbotron">
  <h1>Your Favorite Movies Reviewed</h1>
  <p>XOXO cornhole sriracha venmo, drinking vinegar synth thundercats chicharrones kogi. Roof party franzen blog, paleo pitchfork knausgaard pop-up yr keytar. Twee kitsch bicycle rights locavore viral dreamcatcher, cold-pressed vegan ramps marfa VHS tote bag. Shabby chic pabst kitsch, freegan lomo try-hard roof party lumbersexual sustainable hella selfies thundercats whatever ennui slow-carb.</p>
  <p><%= link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
